<a href="https://colab.research.google.com/github/katarinaammann/BTE320/blob/main/InClassAssignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Shape Area Calculator

In [ ]:
pi = 3.14
height = 10
radius = 3

area = (2 * pi * radius * radius) + (2 * pi * radius * height)
print(area)

244.92000000000002

#Rock Paper Scissors

In [ ]:
#input
player1 = input('Choose Rock, Paper, or Scissors')
player2 = input('Choose Rock, Paper, or Scissors')
if player1 == player2:
  print('Draw')
elif(player1 == 'Scissors' and player2 == 'Paper') or (player1 == 'Rock' and player2 == 'Scissors') or (player1 == 'Paper' and player2 == 'Rock'):
  print('Player 1 Wins!')
else:
  print('Player 2 Wins!')

Choose Rock, Paper, or Scissors Scissors
Choose Rock, Paper, or Scissors Rock
Player 2 Wins!

Now you an choose to play aginst the computer (rather than co-op)

In [ ]:
player1 = input('Choose Rock, Paper or Scissors: ')
player2 = random.choice ('Rock', 'Paper', 'Scissors')
if player1 == player2:
  print('Draw')
elif(player1 == 'Scissors' and player2 == 'Paper') or (player1 == 'Rock' and player2 == 'Scissors') or (player1 == 'Paper' and player2 == 'Rock'):
  print('Player 1 Wins!')
else:
  print('Player 2 Wins!')

#Calculator

In [ ]:
n1 = float(input(''))
Symbol = input('')
n2 = float(input(''))
if Symbol == '+':
  final_value = n1 + n2
elif Symbol == '/':
  final_value = n1/n2
elif Symbol == '-':
  final_value = n1 - n2
elif Symbol == '*':
  final_value = n1*n2
elif Symbol == '**':
  final_value = n1**n2
print(final_value)

# Parking Garage

In [ ]:
flat = 5

for t in range(1,9):
  charge = flat + 2.5 * t
if charge < 10:
  charge = 10
elif charge > 20:
  charge = 20
print (t,charge)

8 20

#Movie Theater

In [ ]:
ticketPrice = 10
fixedCost = 200
standardAttendees = 20

for ad in range(0,201,25):
  profit = 10 * (standardAttendees + 2 * round(ad ** 0.5)) - fixedCost - ad
  print(ad,profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

#Movie Theater 2

In [ ]:
ticketPrice = 10
fixedCost = 200
standardAttendees = 20

ad = 0
while ad < 201:
  profit = 10* (standardAttendees + 2 * round(ad ** 0.5))- fixedCost - ad

  print(ad,profit)
  ad = ad + 25

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

#Months Calendar

In [7]:
months = {}

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for i in range(len(numbers)):
    months[numbers[i]] = names[i]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

another way:

In [3]:
months = {}

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for n in numbers:
    months[n] = names[n-1]

(months)

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [9]:
for key in months.keys():
  print(months[key], end='')

JanFebMarAprMayJunJulAugSepOctNovDec

In [14]:
for value in months.values():
  print(months[key], end='')

DecDecDecDecDecDecDecDecDecDecDecDec

In [15]:
for key, value in months.items():
  print(key, value)

1 Jan
2 Feb
3 Mar
4 Apr
5 May
6 Jun
7 Jul
8 Aug
9 Sep
10 Oct
11 Nov
12 Dec